<h1><%=@user.username%></h1>

<% goals_owner = (@user.id == current_user.id) ? true : false %>

<% if goals_owner %>
	<% goals = @user.goals%>
<%else%>
	<% goals = @user.goals.select { |goal| !goal.private }%>
<% end %>

<ul>
<% goals.each do |goal| %>
	<li><%= link_to goal.title, goal_url(goal) %></li>
<%end%>
</ul>

<% if @user.id == current_user.id %>
	<%= button_to "Create Goal", new_goal_url, :method => :get %>
<% end %>