<h1>Create New Goal</h1>

<form action="<%=goals_url%>" method="post" accept-charset="utf-8">

	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token">

	<label for="goal-title">Title</label>
	<input type="text" name="goal[title]" value="" id="goal-title"><br>


	<label for="goal-body">Description</label>
	<textarea name="goal[body]" value="" id="goal-body"></textarea><br>

	<label for="goal-private">Private?</label>
	<input type="checkbox" name="goal[private]" value="true" id="goal-private">


	<p><input type="submit" value="Let's do this!"></p>
</form>